<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Walmart</string>
	<key>CFBundleExecutable</key>
	<string>WalmartMG</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Walmart</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.46</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>com.walmart.bcg</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>walmartmexicoapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb713976458739956</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.219152779773-ns3bi9cjn9a0sd8nam0ikf3gh4kon0j0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-5JJinYVkEtFS1p7oUARm0l1W3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTXAgentStartupPath</key>
	<string>https://www.walmartmobile.com.mx/</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9b0d22d3404acd30b8fde2901ed4a4e6069caeff</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>5JJinYVkEtFS1p7oUARm0l1W3</string>
					<key>consumerSecret</key>
					<string>cUu9AM1LIuTSNLz6GWHv32uaQCw1P8I8vOEPkamiG7AgZjq0lo</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>713976458739956</string>
	<key>FacebookDisplayName</key>
	<string>Walmart México</string>
	<key>GoogleClientId</key>
	<string>219152779773-ns3bi9cjn9a0sd8nam0ikf3gh4kon0j0.apps.googleusercontent.com</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Localización de tiendas</string>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-Black.otf</string>
		<string>MyriadPro-BlackCond.otf</string>
		<string>MyriadPro-BlackCondIt.otf</string>
		<string>MyriadPro-BlackSemiExtIt.otf</string>
		<string>MyriadPro-Bold.otf</string>
		<string>MyriadPro-BoldCond.otf</string>
		<string>MyriadPro-BoldIt.otf</string>
		<string>MyriadPro-It.otf</string>
		<string>MyriadPro-Light.otf</string>
		<string>MyriadPro-LightCond.otf</string>
		<string>MyriadPro-LightCondIt.otf</string>
		<string>MyriadPro-LightSemiExtIt.otf</string>
		<string>MyriadPro-Regular.otf</string>
		<string>MyriadPro-Semibold.otf</string>
		<string>MyriadPro-SemiboldCond.otf</string>
		<string>MyriadPro-SemiboldSemiExt.otf</string>
		<string>MyriadPro-SemiExt.otf</string>
		<string>MyriadPro-SemiExtIt.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>search_touch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Buscar artículos</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bcg.opensearch</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>cart_touch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Abrir mi carrito</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bcg.openshoppingcart</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>list_touch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ir a mis listas</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bcg.openlists</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UseLancasterUrls</key>
	<true/>
	<key>WMCamFindAPI</key>
	<dict>
		<key>CamFindAPIKey</key>
		<string>PADDdLCpfL50AoE4n3-EkQ</string>
		<key>CamFindSecret</key>
		<string>kqztaudKJXB05OO8nHbY-w</string>
	</dict>
	<key>WMEnvironment</key>
	<string>DEVWM</string>
	<key>WMMustangURLServices</key>
	<dict>
		<key>DEVWM</key>
		<dict>
			<key>WalmartMG.DetailedService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/detailed</string>
			<key>WalmartMG.UpdateCommentsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateComments</string>
			<key>WalmartMG.SelectedSlotService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/selectedSlot</string>
			<key>WalmartMG.DisplaySlotsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/displaySlots</string>
			<key>WalmartMG.AddFiscalAddressService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/addInvoiceAddress</string>
			<key>WalmartMG.AddPreferedAddress</key>
			<string>http://192.168.43.192:9080/walmartmg/list/defaultShippingAddress</string>
			<key>WalmartMG.AddPreferedAddressInvoice</key>
			<string>http://192.168.43.192:9080/walmartmg/list/defaultInvoiceAddress</string>
			<key>WalmartMG.AddReferedCustumerService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/addReferedCustomer</string>
			<key>WalmartMG.AddShippingAddressService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/addShippingAddress</string>
			<key>WalmartMG.BannerService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getBannersMGSuper</string>
			<key>WalmartMG.CamFindService</key>
			<string>https://api.cloudsightapi.com/image_requests</string>
			<key>WalmartMG.CarouselService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getCarrusel</string>
			<key>WalmartMG.CartPromo</key>
			<string>https://www.walmart.com.mx/images/m_webParts/banners/app_g/normal/Banner-Checkout.png</string>
			<key>WalmartMG.CategoryIcon</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/category/</string>
			<key>WalmartMG.CategoryIconIpad</key>
			<string>https://www.walmart.com.mx/images/walmartmg/ipad/category/</string>
			<key>WalmartMG.CategoryService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getCategories</string>
			<key>WalmartMG.ConfigService</key>
			<string>http://192.168.43.192:9080/walmartmg/site/config.txt</string>
			<key>WalmartMG.CrossSellingProductService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getCrossSelling</string>
			<key>WalmartMG.DefaultListService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getPractilist</string>
			<key>WalmartMG.DeleteAddressesByUserService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/deleteShippingAddress</string>
			<key>WalmartMG.DeleteAddressesInvoiceService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/deleteInvoiceAddress</string>
			<key>WalmartMG.FamilyByCategoryService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getFamylyByCategory</string>
			<key>WalmartMG.ForgotPasswordService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/forgotPassword</string>
			<key>WalmartMG.GRAddItemListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/addItemToList</string>
			<key>WalmartMG.GRAddressAddService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateUserAddress</string>
			<key>WalmartMG.GRAddressUpdateService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateUserAddress</string>
			<key>WalmartMG.GRAddressesByIDService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getAddressById</string>
			<key>WalmartMG.GRCategoryIcon</key>
			<string>https://www.walmart.com.mx/images/walmartgr/iphone/category/</string>
			<key>WalmartMG.GRCategoryIconIpad</key>
			<string>https://www.walmart.com.mx/images/walmartgr/ipad/category/</string>
			<key>WalmartMG.GRDeleteItemListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/deleteItemToList</string>
			<key>WalmartMG.GRDeleteUserListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/deleteListByUser</string>
			<key>WalmartMG.GRDeliveryTypeService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getDeliveryTypes</string>
			<key>WalmartMG.GRDiscountAssociateService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getSaving</string>
			<key>WalmartMG.GRGetPromotionsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getPromotions</string>
			<key>WalmartMG.GRHeaderCategory</key>
			<string>https://www.walmart.com.mx/images/walmartgr/iphone/header/</string>
			<key>WalmartMG.GRHeaderCategoryIpad</key>
			<string>https://www.walmart.com.mx/images/walmartgr/ipad/header/</string>
			<key>WalmartMG.GRItemByTicketService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getItemByTicket</string>
			<key>WalmartMG.GRLinesForSearchService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getLinesForSearch</string>
			<key>WalmartMG.GRPayPalFuturePaymentService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/authorizesPayPalFuturePayment</string>
			<key>WalmartMG.GRPaymentTypeService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getPaymentType</string>
			<key>WalmartMG.GRPaypalUpdateOrderService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateOrderStatusPaypal</string>
			<key>WalmartMG.GRPreviousOrdersService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getPurchaseOrderByUser/20</string>
			<key>WalmartMG.GRProductBySearchService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getItemsBySearching</string>
			<key>WalmartMG.GRProductByTicket</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getItemByTicket</string>
			<key>WalmartMG.GRProductsByUPCService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getSavingItems</string>
			<key>WalmartMG.GRRecentProductsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getMyBasics</string>
			<key>WalmartMG.GRSaveUserListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/createListByUser</string>
			<key>WalmartMG.GRSendOrderService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/sendOrderWithSlotPromo</string>
			<key>WalmartMG.GRTimeBands</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getTimeBandsBySlots</string>
			<key>WalmartMG.GRUpdateItemListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateItemToList</string>
			<key>WalmartMG.GRUpdateListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateListByUser</string>
			<key>WalmartMG.GRUpdateUserProfileService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateUserProfile</string>
			<key>WalmartMG.GRUserListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getListByUser</string>
			<key>WalmartMG.GRZipCodeService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getInfoByZipCode</string>
			<key>WalmartMG.HeaderCategory</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/header/</string>
			<key>WalmartMG.HeaderCategoryIpad</key>
			<string>https://www.walmart.com.mx/images/walmartmg/ipad/header/</string>
			<key>WalmartMG.InvoiceAddressByUserService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/displayInvoiceAddress</string>
			<key>WalmartMG.LineService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getLinesByFamily</string>
			<key>WalmartMG.LinesForSearchService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getLinesForSearch</string>
			<key>WalmartMG.LoginService</key>
			<string>http://192.168.43.192:9080/walmartmg/login</string>
			<key>WalmartMG.LoginWithEmailService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/loginByEmail</string>
			<key>WalmartMG.LoginWithIdService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/loginById</string>
			<key>WalmartMG.NotificationService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/saveToken</string>
			<key>WalmartMG.OccupationsService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getOccupations</string>
			<key>WalmartMG.PreviousOrderDetailService</key>
			<string>https://dl.dropboxusercontent.com/u/49807601/getPurchaseOrderById.txt</string>
			<key>WalmartMG.PreviousOrdersService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getPurchaseOrderByUser/20</string>
			<key>WalmartMG.ProductDetailService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getSkuSummaryDetails</string>
			<key>WalmartMG.PushNotificationService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getPushNotifications</string>
			<key>WalmartMG.ReferedCustomerService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getReferedCustomer</string>
			<key>WalmartMG.ReviewShoppingCartService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/reviewCartToShop</string>
			<key>WalmartMG.SearchItemsByUPCService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getSearchingByUpcs</string>
			<key>WalmartMG.ShippingAddressByUserService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/displayShippingAddress</string>
			<key>WalmartMG.ShoppingCartAddProductsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/addItemToOrder</string>
			<key>WalmartMG.ShoppingCartDeleteProductsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/deleteShoppingCartItem</string>
			<key>WalmartMG.ShoppingCartProductsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/summary</string>
			<key>WalmartMG.ShoppingCartUpdateProductsService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateShoppingCartItem</string>
			<key>WalmartMG.SignUpService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/2/userRegistry</string>
			<key>WalmartMG.Splash</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/splash/splashV2.html</string>
			<key>WalmartMG.StoreLocatorService</key>
			<string>http://192.168.43.192:9080/walmartmg/login/getStoreLocatorCoordinates</string>
			<key>WalmartMG.UpdateFiscalAddressService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateInvoiceAddress</string>
			<key>WalmartMG.UpdatePasswordService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/changePassword</string>
			<key>WalmartMG.UpdateShippingAddressService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateShippingAddress</string>
			<key>WalmartMG.UpdateUserProfileService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/updateUserProfile</string>
			<key>WalmartMG.UserListDetailService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getGiftListByListId</string>
			<key>WalmartMG.UserProfileService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/displayUserProfile</string>
			<key>WalmartMG.ValidateActiveReferedService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/isReferedActive</string>
			<key>WalmartMG.ValidateAssociateService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/isAssociated</string>
		</dict>
		<key>PRODUCTION</key>
		<dict>
			<key>WalmartMG.DetailedService</key>
			<string>https://dl.dropboxusercontent.com/s/dv3t4s71ttgfv2e/detailed.txt?dl=0</string>
			<key>WalmartMG.UpdateCommentsService</key>
			<string>https://dl.dropboxusercontent.com/s/wzc56m5dtvkyorw/updateComments.txt</string>
			<key>WalmartMG.SelectedSlotService</key>
			<string>https://dl.dropboxusercontent.com/s/7jly2yo4ea6mcuf/selectedSlot.txt?dl=0</string>
			<key>WalmartMG.DisplaySlotsService</key>
			<string>https://dl.dropboxusercontent.com/s/k4g68hue3ugzxux/displaySlots.txt?dl=0</string>
			<key>WalmartMG.AddFiscalAddressService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/addInvoiceAddress</string>
			<key>WalmartMG.AddPreferedAddress</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/defaultShippingAddress</string>
			<key>WalmartMG.AddPreferedAddressInvoice</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/defaultInvoiceAddress</string>
			<key>WalmartMG.AddReferedCustumerService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/addReferedCustomer</string>
			<key>WalmartMG.AddShippingAddressService</key>
			<string>https://dl.dropboxusercontent.com/s/jymqrf594j8hm2d/succesAddres.txt?dl=0</string>
			<key>WalmartMG.BannerService</key>
			<string>https://dl.dropboxusercontent.com/s/qlwvo7kjj8dx5e3/bannerTerms.txt?dl=0</string>
			<key>WalmartMG.CamFindService</key>
			<string>https://api.cloudsightapi.com/image_requests</string>
			<key>WalmartMG.CarouselService</key>
			<string>https://dl.dropboxusercontent.com/s/4q403ek0d7ayl62/getCarrucell.txt?dl=0</string>
			<key>WalmartMG.CartPromo</key>
			<string>https://www.walmart.com.mx/images/m_webParts/banners/app_g/normal/Banner-Checkout.png</string>
			<key>WalmartMG.CategoryIcon</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/category/</string>
			<key>WalmartMG.CategoryIconIpad</key>
			<string>https://www.walmart.com.mx/images/walmartmg/ipad/category/</string>
			<key>WalmartMG.CategoryService</key>
			<string>https://dl.dropboxusercontent.com/s/zbu724mz15nxku4/allCategoriesNew.txt?dl=0</string>
			<key>WalmartMG.ConfigService</key>
			<string>https://dl.dropboxusercontent.com/s/dd1eodhv3b6ioma/configService.txt?dl=0</string>
			<key>WalmartMG.CrossSellingProductService</key>
			<string>https://dl.dropboxusercontent.com/u/47202086/Walmart/getCrossell.json</string>
			<key>WalmartMG.DefaultListService</key>
			<string>https://dl.dropboxusercontent.com/s/3cba54l7nn66k6l/getPractiList.txt?dl=0</string>
			<key>WalmartMG.DeleteAddressesByUserService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/deleteShippingAddress</string>
			<key>WalmartMG.DeleteAddressesInvoiceService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/deleteInvoiceAddress</string>
			<key>WalmartMG.FamilyByCategoryService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/getFamylyByCategory</string>
			<key>WalmartMG.ForgotPasswordService</key>
			<string>https://dl.dropboxusercontent.com/s/c1zey4oljbz27sk/forgotPassword.txt?dl=0</string>
			<key>WalmartMG.GRAddItemListService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/addItemToList</string>
			<key>WalmartMG.GRAddressAddService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateUserAddress</string>
			<key>WalmartMG.GRAddressUpdateService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateUserAddress</string>
			<key>WalmartMG.GRAddressesByIDService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getAddressById</string>
			<key>WalmartMG.GRCategoryIcon</key>
			<string>https://www.walmart.com.mx/images/walmartgr/iphone/category/</string>
			<key>WalmartMG.GRCategoryIconIpad</key>
			<string>https://www.walmart.com.mx/images/walmartgr/ipad/category/</string>
			<key>WalmartMG.GRDeleteItemListService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/deleteItemToList</string>
			<key>WalmartMG.GRDeleteUserListService</key>
			<string>https://dl.dropboxusercontent.com/s/8kkaxd2cq3u0axr/resposeSucces.txt?dl=0</string>
			<key>WalmartMG.GRDeliveryTypeService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getDeliveryTypes</string>
			<key>WalmartMG.GRDiscountAssociateService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getSaving</string>
			<key>WalmartMG.GRGetPromotionsService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getPromotions</string>
			<key>WalmartMG.GRHeaderCategory</key>
			<string>https://www.walmart.com.mx/images/walmartgr/iphone/header/</string>
			<key>WalmartMG.GRHeaderCategoryIpad</key>
			<string>https://www.walmart.com.mx/images/walmartgr/ipad/header/</string>
			<key>WalmartMG.GRItemByTicketService</key>
			<string>https://dl.dropboxusercontent.com/s/b2pv1fc74042thm/getTicketList.txt?dl=0</string>
			<key>WalmartMG.GRLinesForSearchService</key>
			<string>https://dl.dropboxusercontent.com/s/y9qeo58at8mr55u/getLinesForSearch.txt?dl=0</string>
			<key>WalmartMG.GRPayPalFuturePaymentService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/authorizesPayPalFuturePayment</string>
			<key>WalmartMG.GRPaymentTypeService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getPaymentType</string>
			<key>WalmartMG.GRPaypalUpdateOrderService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateOrderStatusPaypal</string>
			<key>WalmartMG.GRPreviousOrdersService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getPurchaseOrderByUser/20</string>
			<key>WalmartMG.GRProductBySearchService</key>
			<string>https://dl.dropboxusercontent.com/s/51qbjdrddxfcxub/searchbytext3.txt?dl=0</string>
			<key>WalmartMG.GRProductByTicket</key>
			<string>https://dl.dropboxusercontent.com/s/b2pv1fc74042thm/getTicketList.txt?dl=0</string>
			<key>WalmartMG.GRProductsByUPCService</key>
			<string>https://dl.dropboxusercontent.com/u/47202086/Walmart/getShoppingCart.json</string>
			<key>WalmartMG.GRRecentProductsService</key>
			<string>https://dl.dropboxusercontent.com/u/49807601/myBasics.txt</string>
			<key>WalmartMG.GRSaveUserListService</key>
			<string>https://dl.dropboxusercontent.com/s/r8zjrt8qgu2zi8z/succesAddList.txt?dl=0</string>
			<key>WalmartMG.GRSendOrderService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/sendOrderWithSlotPromo</string>
			<key>WalmartMG.GRTimeBands</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getTimeBandsBySlots</string>
			<key>WalmartMG.GRUpdateItemListService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateItemToList</string>
			<key>WalmartMG.GRUpdateListService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateList</string>
			<key>WalmartMG.GRUpdateUserProfileService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateUserProfile</string>
			<key>WalmartMG.GRUserListService</key>
			<string>https://dl.dropboxusercontent.com/s/ovfimwatv4esnhs/getListUser.txt?dl=0</string>
			<key>WalmartMG.GRZipCodeService</key>
			<string>https://dl.dropboxusercontent.com/u/47202086/Walmart/getZipCode.json</string>
			<key>WalmartMG.HeaderCategory</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/header/</string>
			<key>WalmartMG.HeaderCategoryIpad</key>
			<string>https://www.walmart.com.mx/images/walmartmg/ipad/header/</string>
			<key>WalmartMG.InvoiceAddressByUserService</key>
			<string>https://dl.dropboxusercontent.com/s/brqndy57lqnru9l/getAddressInvoice.txt</string>
			<key>WalmartMG.LineService</key>
			<string>https://dl.dropboxusercontent.com/s/y9qeo58at8mr55u/getLinesForSearch.txt?dl=0</string>
			<key>WalmartMG.LinesForSearchService</key>
			<string>https://dl.dropboxusercontent.com/s/y9qeo58at8mr55u/getLinesForSearch.txt?dl=0</string>
			<key>WalmartMG.LoginService</key>
			<string>https://dl.dropboxusercontent.com/s/rhif0nc54535n0n/login_output.txt?dl=0</string>
			<key>WalmartMG.LoginWithEmailService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/loginByEmail</string>
			<key>WalmartMG.LoginWithIdService</key>
			<string>https://dl.dropboxusercontent.com/s/lsnkwozi84teul2/responseLogin.txt?dl=0</string>
			<key>WalmartMG.NotificationService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/saveToken</string>
			<key>WalmartMG.OccupationsService</key>
			<string>https://dl.dropboxusercontent.com/s/0mvkcjycc5pn1bs/getOccupations.txt</string>
			<key>WalmartMG.PreviousOrderDetailService</key>
			<string>https://dl.dropboxusercontent.com/s/y94hzd9c81sa4ci/getPurchaseOrderById.txt?dl=0</string>
			<key>WalmartMG.PreviousOrdersService</key>
			<string>https://dl.dropboxusercontent.com/u/49807601/getPurchaseOrderByUser.txt</string>
			<key>WalmartMG.ProductDetailService</key>
			<string>https://dl.dropboxusercontent.com/s/4skuwv3wolsvorj/getProductDEtail.txt</string>
			<key>WalmartMG.PushNotificationService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/getPushNotifications</string>
			<key>WalmartMG.ReferedCustomerService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/getReferedCustomer</string>
			<key>WalmartMG.ReviewShoppingCartService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/reviewCartToShop</string>
			<key>WalmartMG.SearchItemsByUPCService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/getSearchingByUpcs</string>
			<key>WalmartMG.ShippingAddressByUserService</key>
			<string>https://dl.dropboxusercontent.com/u/47202086/Walmart/getAddress.json</string>
			<key>WalmartMG.ShoppingCartAddProductsService</key>
			<string>https://dl.dropboxusercontent.com/s/eqadxhjmktdodso/addItemToOrder.txt?dl=0</string>
			<key>WalmartMG.ShoppingCartDeleteProductsService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/deleteShoppingCartItem</string>
			<key>WalmartMG.ShoppingCartProductsService</key>
			<string>https://dl.dropboxusercontent.com/s/m8ksh5i40b77r5d/getShoppingCart.txt?dl=0</string>
			<key>WalmartMG.ShoppingCartUpdateProductsService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateShoppingCartItem</string>
			<key>WalmartMG.SignUpService</key>
			<string>https://dl.dropboxusercontent.com/s/4b8t1r2kohryxxw/registryUser.txt?dl=0</string>
			<key>WalmartMG.Splash</key>
			<string>https://www.walmart.com.mx/images/walmartmg/iphone/splash/splashV2.html</string>
			<key>WalmartMG.StoreLocatorService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/login/getStoreLocatorCoordinates</string>
			<key>WalmartMG.UpdateFiscalAddressService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateFiscalAddress</string>
			<key>WalmartMG.UpdatePasswordService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/changePassword</string>
			<key>WalmartMG.UpdateShippingAddressService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateShippingAddress</string>
			<key>WalmartMG.UpdateUserProfileService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/updateUserProfile</string>
			<key>WalmartMG.UserListDetailService</key>
			<string>https://dl.dropboxusercontent.com/s/3tk0zsbgacuguvb/detalleLista.txt?dl=0</string>
			<key>WalmartMG.UserProfileService</key>
			<string>https://dl.dropboxusercontent.com/s/yodb3yz694mhyue/responseProfile.txt?dl=0</string>
			<key>WalmartMG.ValidateActiveReferedService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/isReferedActive</string>
			<key>WalmartMG.ValidateAssociateService</key>
			<string>https://www.walmartmobile.com.mx/walmartmg/list/isAssociated</string>
		</dict>
	</dict>
	<key>WMMustangURLServicesSession</key>
	<dict>
		<key>DEVWM</key>
		<dict>
			<key>WalmartMG.DefaultListService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getPractilist</string>
			<key>WalmartMG.GRLinesForSearchService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getLinesForSearch</string>
			<key>WalmartMG.GRProductBySearchService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getItemsBySearching</string>
			<key>WalmartMG.ProductDetailService</key>
			<string>http://192.168.43.192:9080/walmartmg/list/getSkuSummaryDetails</string>
		</dict>
		<key>PRODUCTION</key>
		<dict>
			<key>WalmartMG.DefaultListService</key>
			<string>https://dl.dropboxusercontent.com/s/3cba54l7nn66k6l/getPractiList.txt?dl=0</string>
			<key>WalmartMG.GRLinesForSearchService</key>
			<string>https://dl.dropboxusercontent.com/s/y9qeo58at8mr55u/getLinesForSearch.txt?dl=0</string>
			<key>WalmartMG.GRProductBySearchService</key>
			<string>https://dl.dropboxusercontent.com/s/51qbjdrddxfcxub/searchbytext3.txt?dl=0</string>
			<key>WalmartMG.ProductDetailService</key>
			<string>https://dl.dropboxusercontent.com/s/4skuwv3wolsvorj/getProductDEtail.txt</string>
		</dict>
	</dict>
	<key>WMPayPalEnvironment</key>
	<dict>
		<key>PayPalEnvironment</key>
		<string>SANDBOX</string>
		<key>ProductionClientID</key>
		<string>------</string>
		<key>SandboxClientID</key>
		<string>AQUxJRC5xGMz8nQKTfNOlMiTutWWStv9Ra35BNTB4W7tvhdGIb-EdznRbApl</string>
	</dict>
	<key>showCamFind</key>
	<true/>
	<key>useSignalsServices</key>
	<false/>
</dict>
</plist>
